openapi: 3.0.0
info:
  title: Bangumi API
  version: 1.0.0
servers:
  -  url: https://api.bgm.tv
paths:
  /user/{id}:
    get:
      tags:
        - 用户信息
      description: 返回用户基础信息
      responses:
        200:
          description: 用户基础信息
          content:
            application/json:
              schema:
                properties:
                  id:
                    description: 用户 id
                    type: integer
                    example: 1
                  url:
                    description: 用户主页地址
                    type: string
                  username:
                    description: 用户名
                    type: string
                    example: sai
                  nickname:
                    description: 昵称
                    type: string
                    example: Sai
                  avatar:
                    description: 头像地址
                    properties:
                      large:
                        type: string
                        example: http://lain.bgm.tv/pic/user/l/000/00/00/1.jpg?r=1391790456
                      medium:
                        type: string
                        example: http://lain.bgm.tv/pic/user/m/000/00/00/1.jpg?r=1391790456
                      small:
                        type: string
                        example: http://lain.bgm.tv/pic/user/s/000/00/00/1.jpg?r=1391790456
                  sign:
                    description: TODO
                    type: string
                    example: Awesome!
